<center><h1>Собери свой носочек!</h1></center>
<div class="contant">
  <div id="pictureOnSock1"></div>
  <div id="pictureOnSock2"></div>
<div id="socks"><img src="/img/socksMaket.png" width="520px" height="550px"></div>
<div class="construktor">
  <div><h5>Придай своему носочку цвет</h5>
   <select id="colorSelector" class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>цвет</option>
  {{#each colors}}
  <option value="{{id}}">{{this.name}}</option>
  {{/each}}
</select></div>
  <div><h5>Накинь затейливый узор</h5>
  <select id="ornamentSelector" class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>узор</option>
  {{#each ornaments}}
  <option value="{{id}}">{{this.name}}</option>
  {{/each}}
</select>
  </div>
  <div><h5>Пришпондорь умопомрочительную картинку</h5>
  <select id="pictureSelector" class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>картинка</option>
  {{#each pictures}}
  <option value="{{id}}">{{this.name}}</option>
  {{/each}}
</select>
  </div>
  <div>
  <button>Добавить в корзину</button>
  <button>Добавить в избраное</button>
  </div>
</div>
<script defer src="js/generatorFront.js"></script>
